.amortizationtable {
    background: #171d23;
    outline: 1px solid #000;
    padding: 20px;
    min-width: 125px;
    margin: 10px 0 0 0;
    width: 630px;
    position: relative;
    z-index: 10;
}

.accountproduction {
    background: #171d23;
    outline: 1px solid #000;
    padding: 20px;
    min-width: 125px;
    margin: 10px 0 0 0;
    width: 630px;
    position: relative;
    z-index: 10;    
}

.menu-button {
    position: relative;
    width: 136px;
    height: 29px;
    padding: 0px 0px;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border: 1px solid black;
    border-radius: 10px;
    background-color: #171d23;
    width: 80%;
    max-width: 600px;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    display: block;
}

.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.popup-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.popup-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.popup-body {
    padding: 10px 25px;
    font-size: 1rem;
}

.popup-body .save-button {
    background-color: rgb(108, 201, 33);
    cursor: pointer;
    font-size: 1rem;
    padding: 20px 0px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.popup-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 9999;
}

.popup-overlay.active {
    display: block;
}

